<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="numberTicket.dao.NumberTicketDAO">
	<!-- 지도에 마커 찍기 -->
	<select id="selectLatLng" resultType="numberTicket_LatLngVO">
		select branch_id, branch_name, latitude as branch_latitude, longitude as branch_longitude
		from branch
	</select>
	
	<select id="selectBranchList" parameterType="String" resultType="numberTicket_LatLngVO">
		select branch_id, branch_name, branch_address, branch_open, branch_close, latitude as branch_latitude, longitude as branch_longitude
		from branch
		where branch_name = #{location}
	</select>
	
	<select id="selectStandBy100" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 100
	</select>
	
	<select id="selectStandBy200" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 200
	</select>
	
	<select id="selectStandBy300" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 300
	</select>

	<select id="selectStandBy400" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 400
	</select>

	<insert id="insertNumberTicket" parameterType="HashMap">
		insert into numberticket(numberticket_seq, numberticket_number, numberticket_date, numberticket_time, users_id, user_name, branch_name, service_id)		
		values(seq_numberticket_seq.nextval, seq_numberticket_number.nextval, TO_CHAR(SYSDATE, 'YYYY-MM-DD'), TO_CHAR(SYSDATE, 'HH24:MI:SS'), #{id}, #{name}, #{locations}, #{service})
	</insert>

	<select id="selectNumberTicket" parameterType="HashMap" resultType="numberTicket_NumberTicketVO">
		select numberticket_seq, numberticket_number, numberticket_date, numberticket_time, users_id, user_name, branch_name, service_id
		from numberticket
		where numberticket_seq=(select max(numberticket_seq) from numberticket where users_id = #{id})
	</select>
	
	<select id="selectService" parameterType="String" resultType="String"> 
		select service_name
		from service
		where service_id = #{service_id}
	</select>
	
	<select id="selectListServiceDesc" resultType="serviceDescVO"> 
		SELECT 
			A.SERVICE_ID AS serviceId,
			B.SERVICE_NAME AS serviceName, 
			A.seq AS seq, 
			A.name as name,
			A.etc as etc
		FROM SERVICE_DESC A , SERVICE B
		WHERE A.SERVICE_ID = B.SERVICE_ID 
	</select>
	
	<select id="userTicket" parameterType="String" resultType="userTicketVO">
		SELECT
		    A.BRANCH_NAME as branchName,
		    A.SERVICE_ID AS serviceId,
		    B.SERVICE_NAME as serviceName,
		    A.NUMBERTICKET_SEQ AS numberticketNumber,
		    A.NUMBERTICKET_DATE as numberticketDate,
		    A.NUMBERTICKET_TIME as numberticketTime,
            (SELECT COUNT(*) FROM NUMBERTICKET C WHERE A.SERVICE_ID = C.SERVICE_ID AND A.BRANCH_NAME = A.BRANCH_NAME) AS standby
		FROM NUMBERTICKET A,SERVICE B
		WHERE A.SERVICE_ID = B.SERVICE_ID
		AND A.USERS_ID = #{id}
		ORDER BY A.NUMBERTICKET_DATE desc,A.NUMBERTICKET_TIME desc
	</select>
	
	<select id="adminTicket" parameterType="String" resultType="adminTicketVO">
		SELECT
		    E.USERS_NAME as userName,
		    A.SERVICE_ID AS serviceId,
		    A.TELLER_ID as tellerId,
		    B.SERVICE_NAME as serviceName,
		    A.NUMBERTICKET_NUMBER AS numberticketNumber,
		    A.NUMBERTICKET_DATE as numberticketDate,
		    A.NUMBERTICKET_SEQ as numberticketSeq,
		    A.NUMBERTICKET_TIME as numberticketTime
		FROM NUMBERTICKET A,SERVICE B,USERS E
		WHERE A.SERVICE_ID = B.SERVICE_ID
        AND A.USERS_ID = E.USERS_ID
		AND A.BRANCH_NAME = (select D.BRANCH_name from TELLER C,BRANCH D where C.BRANCH_ID = D.BRANCH_ID AND C.TELLER_ID =#{tellerId})
		ORDER BY A.NUMBERTICKET_DATE desc,A.NUMBERTICKET_TIME desc
	</select>
	
	<update id="adminTicketUpdate" parameterType="numberTicket_NumberTicketVO">
		update NUMBERTICKET set TELLER_ID = #{teller_id} 
		where NUMBERTICKET_SEQ = #{numberticket_seq}
	</update>
	
	<select id="selectTicket" parameterType="numberTicket_NumberTicketVO" resultType="numberTicket_NumberTicketVO">
		SELECT
			*
		FROM NUMBERTICKET
		WHERE NUMBERTICKET_SEQ = #{numberticket_seq}
	</select>
	
	<insert id="insertAnalysis" parameterType="analysisVO">
		INSERT INTO ANALYSIS VALUES (
		 (SELECT NVL(COUNT(*),0)+1 FROM ANALYSIS) ,
		 #{analysisNumber},
		 #{analysisDate, jdbcType=VARCHAR},
		 #{analysisTime, jdbcType=VARCHAR},
		 #{usersId , jdbcType=VARCHAR},
		 #{usersName, jdbcType=VARCHAR},
		 #{branchId, jdbcType=VARCHAR},
		 #{tellerId, jdbcType=VARCHAR},
		 #{serviceId, jdbcType=VARCHAR},
		 #{branchName, jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="deleteTicket" parameterType="numberTicket_NumberTicketVO">
		DELETE FROM NUMBERTICKET WHERE NUMBERTICKET_SEQ = #{numberticket_seq}
	</delete>
</mapper>