<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="numberTicket.dao.NumberTicketDAO">
	<!-- 지도에 마커 찍기 -->
	<select id="selectLatLng" resultType="numberTicket_LatLngVO">
		select branch_id, branch_name, latitude as branch_latitude, longitude as branch_longitude
		from branch
	</select>
	
	<select id="selectBranchList" parameterType="String" resultType="numberTicket_LatLngVO">
		select branch_id, branch_name, branch_address, branch_open, branch_close, latitude as branch_latitude, longitude as branch_longitude
		from branch
		where branch_name = #{location}
	</select>
	
	<select id="selectStandBy100" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 100
	</select>
	
	<select id="selectStandBy200" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 200
	</select>
	
	<select id="selectStandBy300" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 300
	</select>

	<select id="selectStandBy400" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 400
	</select>
	
</mapper>