<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="numberTicket.dao.NumberTicketDAO">
	<!-- 지도에 마커 찍기 -->
	<select id="selectLatLng" resultType="numberTicket_LatLngVO">
		select branch_id, branch_name, latitude as branch_latitude, longitude as branch_longitude
		from branch
	</select>
	
	<select id="selectBranchList" parameterType="String" resultType="numberTicket_LatLngVO">
		select branch_id, branch_name, branch_address, branch_open, branch_close, latitude as branch_latitude, longitude as branch_longitude
		from branch
		where branch_name = #{location}
	</select>
	
	<select id="selectStandBy100" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 100
	</select>
	
	<select id="selectStandBy200" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 200
	</select>
	
	<select id="selectStandBy300" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 300
	</select>

	<select id="selectStandBy400" parameterType="String" resultType="numberTicket_NumberTicketVO">
		select count(*) as standby
		from numberticket
		where branch_name = #{location} and service_id = 400
	</select>

	<insert id="insertNumberTicket" parameterType="HashMap">
		insert into numberticket(numberticket_seq, numberticket_number, numberticket_date, numberticket_time, users_id, user_name, branch_name, service_id)		
		values(seq_numberticket_seq.nextval, seq_numberticket_number.nextval, TO_CHAR(SYSDATE, 'YYYY-MM-DD'), TO_CHAR(SYSDATE, 'HH24:MI:SS'), #{id}, #{name}, #{locations}, #{service})
	</insert>

	<select id="selectNumberTicket" parameterType="HashMap" resultType="numberTicket_NumberTicketVO">
		select numberticket_seq, numberticket_number, numberticket_date, numberticket_time, users_id, user_name, branch_name, service_id
		from numberticket
		where numberticket_seq=(select max(numberticket_seq) from numberticket where users_id = #{id})
	</select>
	
	<select id="selectService" parameterType="String" resultType="String"> 
		select service_name
		from service
		where service_id = #{service_id}
	</select>
</mapper>